<div class="jumbotron">
  <h1>Hola mundo!</h1>
</div>

<ul>
<% @users.each do |u| %>
	<li><%= u %></li>
<% end %>
</ul>

<script>
	$.backstretch("http://dl.dropbox.com/u/515046/www/garfield-interior.jpg");
</script>