<!DOCTYPE html>
<html>
<head>
  <title>Segundo Layout</title>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<p>Segundo Layout</p>

<div class="container">
	<%= yield %>
</div>

</body>
</html>